In [ ]:
#import section
from google.cloud import bigquery
project_id='smooth-tesla-400908'
client=bigquery.Client(project=project_id)

In [ ]:
#total video count
query='''select count(*) from smooth-tesla-400908.youtube_api_etl.madras_samayal'''
df=client.query(query).to_dataframe()
df

c:\Users\nived\AppData\Local\Programs\Python\Python312\Lib\site-packages\google\cloud\bigquery\table.py:1957: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   f0_
0  914

In [ ]:
#most viewed videos from madras samayal channel
query='''select title, view_count, published_at from smooth-tesla-400908.youtube_api_etl.madras_samayal order by view_count desc limit 5'''
df=client.query(query).to_dataframe()
df

c:\Users\nived\AppData\Local\Programs\Python\Python312\Lib\site-packages\google\cloud\bigquery\table.py:1957: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,title,view_count,published_at
0,Muttai Kulambu in Tamil | Egg Gravy in Tamil |...,20312966,2017-01-18 05:28:09+00:00
1,Channa Masala Gravy | Chana Masala Recipe in T...,18051147,2017-04-12 05:31:22+00:00
2,Paneer Butter Masala Recipe in Tamil | Paneer ...,17340059,2017-09-22 05:46:26+00:00
3,Puliyodharai Recipe in Tamil | Tamarind Rice |...,14680764,2017-03-29 05:58:10+00:00
4,Veg Kurma in Tamil / Vegetable Kurma for Chapa...,13078777,2016-08-09 05:18:52+00:00

In [ ]:
#most number of videos published year-month
query='''select FORMAT_DATE('%Y-%m', DATE(published_at)) AS month,COUNT(*) AS video_count from smooth-tesla-400908.youtube_api_etl.madras_samayal group by month order by video_count desc limit 5'''
df=client.query(query).to_dataframe()
df

c:\Users\nived\AppData\Local\Programs\Python\Python312\Lib\site-packages\google\cloud\bigquery\table.py:1957: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

     month  video_count
0  2016-01           17
1  2016-12           14
2  2016-02           13
3  2016-11           13
4  2016-10           12